#artifact {
  text-align: left;
}

#artifact > div,
#artifact > section {
  margin-bottom: 3rem;
}

#artifact #back {
  display: block;
  margin-bottom: 3rem;
}

#artifact-media {
  background-color: var(--black);
  text-align: center;
}

#artifact-media * {
  color: var(--white);
}

#artifact-media div {
  padding: 5rem 0;
}

#artifact-media figure {
  display: inline-block;
  margin: 0;
}

#artifact-media figure img {
  background-color: var(--grey);
  display: block;
  height: 300px;
}

#artifact-media figure figcaption {
  background-color: var(--gunmetal);
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}

#artifact-media footer {
  background-color: var(--gunmetal);
  margin: 0;
  padding: 1rem;
}

#artifact-media footer a {
  text-decoration: underline;
}

#artifact-summary {
  background-color: var(--foggy-grey);
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 4rem 12.5%;
}

#artifact-summary h2 {
  flex-basis: 100%;
  margin-bottom: 4rem;
}

#artifact-summary > div {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

#artifact-summary > div div {
  flex-basis: 50%;
  padding: 0.5rem;
}

#artifact-summary > div div h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

#artifact-detail {
  border: 1px solid var(--black);
  border-style: solid none;
}

#artifact-detail section:not(:first-child) {
  border-top: 1px solid #ccc;
}

#artifact .related > div {
  max-width: 100%;
  overflow-x: auto;
}

#artifact .related table * {
  border-color: #ccc;
  border-width: 1px;
}

#artifact .related table tr {
  border-bottom-style: solid;
}

#artifact .related table th,
#artifact .related table td {
  padding: 1em;
}

#artifact .related table td:empty::after {
  color: #ccc;
  content: 'NULL';
  font-style: italic;
}

#artifact .related table th:not(:first-child),
#artifact .related table td:not(:first-child) {
  border-left-style: solid;
}
